@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

:root {
    --color_primary: #EE332C;
    --color_secondary: #000;
    --color_tertiary: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    background-color: var(--color_tertiary);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

header .container-fluid .header_title {
    display: none;
}

header .container-fluid .header_title-modified {
    color: var(--color_primary);
}

main {
    margin-top: 56px;
}


section {
    width: 90%;
    margin: 0 auto;
}

.cart_overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99;
}

.h1 {
    color: var(--color_primary);
}

.title_value {
    font-weight: bold;
}

main .container_cart {
    width: 95%;
    margin-top: 80px;
    background-color: var(--color_tertiary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
}

.cart_display {
    visibility: hidden;
}


main .container_cart .cart_slider {
    max-height: 205px;
    height: auto;
    overflow-y: auto;
}

main .container_cart h5 {
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    background-color: var(--color_tertiary);
}

main .container_cart .cart_slider .cart_items {
    width: 90%;
    margin: 10px auto;
    scroll-snap-align: center;
}

main .container_cart .cart_slider .cart_items .cart_image {
    width: 50px;
}

main .container_cart .cart_slider .cart_items .cart_desc .cart_item-title {
    font-size: 14px;
    font-weight: 400;
}

main .container_cart .cart_slider .cart_items i {
    color: var(--color_primary);
}

main .container_cart .cart_slider .cart_items i:hover {
    transform: scale(.95);
    transition: .1s;
    cursor: pointer;
}

main .container_cart .cart_slider .cart_items .cart_desc .cart_desc-price {
    font-size: 14px;
    font-weight: 400;
}

main .container_cart .cart_slider .cart_items .cart_desc .cart_desc-quantity {
    gap: 3px;
}

main .container_cart .cart_slider .cart_items .cart_desc .cart_desc-quantity .price {
    font-weight: bold;
}

main .container_cart .cart_total {
    gap: 10px;
    padding: 20px 0;
    position: sticky;
    bottom: 0;
    background-color: var(--color_tertiary);
    border-top: 1px solid #ddd;
}

main .container_cart .cart_total h4 {
    font-size: 14px;
}

main .container_cart .cart_total button {
    width: 90%;
    padding: 6px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--color_primary);
    color: var(--color_tertiary);
}

main .container_cart .cart_total button:hover {
    border: 2px solid var(--color_primary);
    background-color: var(--color_tertiary);
    color: var(--color_primary);
    transition: .3s;
    cursor: pointer;
}

main .container_services {
    margin: 20px auto;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x proximity;
    padding: 15px 1px;
}

main .container_services .services {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

main .container_services .service {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--color_tertiary);
    border-radius: 10px;
    scroll-snap-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

main .container_services .service i {
    color: var(--color_primary);
    font-size: 20px;
}

main .container_services .service_desc h4 {
    font-size: 11px;
    font-weight: bold;
    color: var(--color_secondary);
}

main .container_services .service_desc p {
    font-size: 9.6px;
    color: var(--color_secondary);
    opacity: 7;
}

.container_banner {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.container_banner .banner {
    width: 90%;
    margin: 0 auto;
}

.container_banner .banner_circle {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background: var(--color_primary);
    position: absolute;
    right: -250px;
    bottom: -220px;
    z-index: -1;
}

.container_banner .banner img {
    width: 200px;
    height: 110px;
    object-fit: cover;
}

.container_banner .banner h2 {
    font-size: 20px;
    font-weight: bold;
}

.container_banner .banner .carousel_desc {
    margin: 10px auto;
    font-size: 11px;
    font-weight: bold;
    opacity: .8;
}

.container_banner .banner .bi-plus {
    background-color: var(--color_primary);
    border-radius: 100%;
    color: var(--color_tertiary);
    padding: 4px;
}

.container_banner .banner .banner_cart {
    font-size: 12px;
    font-weight: bold;
}

main section .container_products_featured {
    margin-top: 40px;
}

main section .container_products_featured .product_slider {
    overflow: auto;
}

main section .container_products_featured .products_featured {
    margin-top: 10px;
    width: 150%;
    gap: 5px;
    padding-bottom: 15px;
}

main section .container_products_featured .product_featured {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background-size: cover;
    padding-bottom: 8px;
}

main section .container_products_featured .one {
    background-image: url("../images/masVendidos.png");
}

main section .container_products_featured .two {
    background-image: url("../images/consolas.png");
}

main section .container_products_featured .three {
    background-image: url("../images/notebook.png");
}

main section .container_products_featured .four {
    background-image: url("../images/joysticks.png");
}

main section .container_products_featured .products_featured .featured_call {
    width: 85%;
    margin: 0 auto;
    padding: 3px;
    border-radius: 4px;
    background-color: var(--color_tertiary);
    position: relative;
    cursor: pointer;
}


main section .container_products_featured .products_featured .featured_call:hover {
    color: var(--color_tertiary);
}

main section .container_products_featured .products_featured .featured_call:hover .progress {
    width: 100%;
    background-color: var(--color_primary);
    transition: .4s;
    padding: 3px;
    border-radius: 4px;
}

main section .container_products_featured .products_featured .featured_call h5 {
    font-size: 8px;
    font-weight: bold;
    padding: 0 3px;
    z-index: 1;
}

main section .container_products_featured .products_featured .featured_call i {
    font-size: 10px;
    padding: 0 3px;
    z-index: 1;
}

main section .container_products_featured .products_featured .featured_call .progress {
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
}

main section .container_products {
    margin: 40px 0;
}

main section .container_products .products {
    margin-top: 20px;
    row-gap: 24px;
}

main section .container_products div .bi-sliders:hover {
    cursor: pointer;
    color: var(--color_primary);
    transition: .3s;
}

h3 {
    font-size: 14px;
    font-weight: bold;
}

main section .container_products div i {
    font-weight: bold;
}

main section .container_products .products .product {
    width: 130px;
    height: 180px;
    background-color: var(--color_tertiary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
}

main section .container_products .product .product_image {
    width: 100%;
    margin-bottom: 15px;
}

main section .container_products .product .product_image img {
    width: 80px;
    height: 50px;
}

main section .container_products .product .product_feature h5 {
    font-size: 12px;
    font-weight: 400;
}

main section .container_products .product .product_feature p {
    font-size: 12px;
    font-weight: bold;
}

main section .container_products .product .product_feature a {
    font-size: 12px;
    text-decoration: none;
    color: var(--color_primary);
    font-weight: bold;
}

main section .container_products .product .bi-heart {
    font-size: 13px;
    position: absolute;
    top: 20px;
    right: 15px;
}

main section .container_products .product .product_feature .bi-cart {
    font-size: 13px;
}

main section .container_products .product .bi-cart:hover,
main section .container_products .product .bi-heart:hover {
    cursor: pointer;
    color: var(--color_primary);
    transition: .2s;
}

.filter_overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.filter_overlay .container_filter {
    width: 100vw;
    margin-top: 25px;
    background-color: var(--color_tertiary);
    border-radius: 12px 12px 0 0;
    transform: translateY(110%);
    transition: .3s;
}

.filter_overlay .container_filter .filter_cta {
    padding: 17px;
    border-bottom: 1px solid #ddd;
}

.filter_overlay .container_filter .filter_cta h4 {
    font-size: 16px;
    font-weight: bold;
}

.filter_overlay .container_filter .filter_cta p {
    font-size: 14px;
    color: var(--color_primary);
    font-weight: bold;
    cursor: pointer;
}

.filter_overlay .container_filter .filters {
    margin-top: 20px;
    padding: 0 17px 17px;
}

.filter_overlay .container_filter .filter h5 {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
}

.filter_overlay .container_filter .filter .filter_input {
    margin-top: 8px;
    gap: 2px;
}

.filter_overlay .container_filter .filter .filter_input .input label {
    font-size: 11px;
}

.filter_overlay .container_filter .buttons {
    padding: 0 17px 17px;
}

.filter_overlay .container_filter .buttons button {
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.filter_overlay .container_filter .buttons .button_secondary {
    background-color: rgba(64, 87, 109, .07)
}

.filter_overlay .container_filter .buttons .button_primary {
    background-color: var(--color_primary);
    color: var(--color_tertiary);
}

.filter_overlay .container_filter .buttons .button_primary:hover {
    border: 2px solid var(--color_primary);
    background-color: var(--color_tertiary);
    color: var(--color_primary);
    transition: .3s;
    cursor: pointer;
}

.container_banner_offers {
    width: 100%;
    min-height: 200px;
    background-image: url("../images/bannerOffers.png");
    background-size: cover;
    background-position: center;
}

.container_banner_offers .banner_offers .banner_title h4 {
    margin-bottom: 10px;
    color: var(--color_tertiary);
}

.container_banner_offers .banner_offers .counter .counter-date {
    font-weight: bold;
    color: var(--color_tertiary);
}

.container_banner_offers .banner_offers .counter .counter-date span {
    font-size: 12px;
    font-weight: 300;
}

@media (min-width:767px) {
    header .container-fluid .header_title {
        display: block;
    }

    main .container_cart {
        width: 65%;
        margin-top: 95px;
        left: 65%;
    }

    main .container_cart h5 {
        font-size: 16px;
    }

    main .container_cart .cart_slider .cart_items .cart_image {
        width: 65px;
    }

    main .container_cart .cart_slider .cart_items .cart_desc .cart_item-title {
        font-size: 15px;
    }

    main .container_cart .cart_slider .cart_items .cart_desc .cart_desc-price {
        font-size: 15px;
    }

    main .container_services .services {
        width: 100%;
    }

    .container_banner {
        padding: 60px 0;
    }

    .container_banner .banner_circle {
        width: 650px;
        height: 650px;
        right: -300px;
        bottom: -380px;
        z-index: -1;
    }

    .container_banner .banner img {
        width: 350px;
        height: 180px;
    }

    .container_banner .banner h2 {
        font-size: 26px;
    }

    .container_banner .banner .carousel_desc {
        width: 90%;
        margin: 10px 0;
    }

    main section .container_products_featured .products_featured {
        width: 100%;
    }

    main section .container_products_featured .product_featured {
        width: 150px;
        height: 150px;
        padding-bottom: 10px;
    }

    main section .container_products_featured .products_featured .featured_call {
        padding: 6px;
    }

    main section .container_products_featured .products_featured .featured_call h5 {
        font-size: 12px;
    }

    main section .container_products_featured .products_featured .featured_call i {
        font-size: 14px;
    }

    main section .container_products .products {
        row-gap: 26px;
    }

    main section .container_products .products .product {
        width: 150px;
        height: 200px;
    }

    main section .container_products .product .product_image {
        margin-bottom: 38px;
    }

    main section .container_products .product .product_image img {
        width: 125px;
        height: 70px;
    }

    h3 {
        font-size: 16px;
    }

    main section .container_products div i {
        font-size: 18px;
    }

    main section .container_products .product .product_feature .product_detail-cart i {
        font-size: 13px;
    }

    .container_banner_offers {
        position: relative;
    }

    .container_banner_offers .banner_offers .banner_title h4 {
        font-size: 32px;
    }

    .container_banner_offers .banner_offers .counter .counter-date p {
        font-size: 24px;
    }

    .container_banner_offers .banner_offers .counter .counter-date span {
        font-size: 20px;
    }

    .container_banner_offers .banner_offers img {
        width: 150px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 35px;
    }

    footer .form-footer {
        width: 100%;
        margin-top: 10px;
    }

    footer .text_newsletter {
        width: 100%;
    }
}

@media (min-width:989px) {
    main .container_cart {
        width: 30%;
        left: 83.7%;
    }

    main .container_cart .cart_slider .cart_items .cart_image {
        width: 68px;
    }

    main .container_cart .cart_slider .cart_items .cart_desc .cart_item-title {
        font-size: 16px;
    }

    main .container_cart .cart_slider .cart_items i {
        font-size: 20px;
    }

    main .container_cart .cart_slider .cart_items .cart_desc .cart_desc-price {
        font-size: 15px;
    }

    main .container_services .services .service {
        padding: 16px 40px;
    }

    main .container_services .services .service i {
        font-size: 32px;
    }

    main .container_services .services .service h4 {
        font-size: 16px;
    }

    main .container_services .services .service p {
        font-size: 12.8px;
    }

    .container_banner {
        padding: 150px 0;
    }

    .container_banner .banner_circle {
        width: 1000px;
        height: 1000px;
        right: -500px;
        bottom: -500px;
    }

    .container_banner .banner img {
        width: 440px;
        height: 260px;
    }

    .container_banner .banner h2 {
        font-size: 32px;
    }

    .container_banner .banner .carousel_desc {
        font-size: 20px;
    }

    .container_banner .banner .bi-plus {
        padding: 6px;
    }

    .container_banner .banner .add_cart {
        cursor: pointer;
        padding: 12px;
        border-radius: 10px;
        border: 2px solid var(--color_primary);
    }

    .container_banner .banner .add_cart:hover {
        transition: .3s;
        background-color: var(--color_primary);
        color: var(--color_tertiary);
    }

    .container_banner .banner .add_cart:hover .bi-plus {
        background-color: var(--color_tertiary);
        color: var(--color_primary);
        font-weight: bold;
    }

    .container_banner .banner .banner_cart {
        font-size: 16px;
        font-weight: bold;
    }

    main section .container_products_featured .product_featured {
        width: 270px;
        height: 270px;
        padding-bottom: 17px;
    }

    main section .container_products_featured .products_featured .featured_call {
        padding: 12px;
    }

    main section .container_products .products {
        row-gap: 22px;
    }

    main section .container_products .products .product {
        width: 180px;
        height: 255px;
        border-radius: 12px;
    }

    main section .container_products .products .product:hover .bi-heart,
    main section .container_products .products .product:hover .bi-cart {
        transform: translateX(0);
        transition: .3s;
        opacity: 1;
    }

    main section .container_products .product .product_image {
        margin-bottom: 41px;
    }

    main section .container_products .product .product_image img {
        width: 125px;
        height: 80px;
    }

    main section .container_products .product .product_feature h5 {
        font-size: 14px;
    }

    main section .container_products .product .product_feature p {
        font-size: 14px;
    }

    main section .container_products .product .product_feature a {
        font-size: 14px;
    }

    main section .container_products .product .bi-heart {
        font-size: 15px;
        position: absolute;
        top: 20px;
        right: 15px;
        transform: translateX(100%);
        opacity: 0;
    }

    main section .container_products .product .product_feature .bi-cart {
        font-size: 15px;
        transform: translateX(100%);
        opacity: 0;
    }

    .filter_overlay .container_filter {
        margin-top: 0;
        width: 280px;
        height: 100vh;
        transform: translateX(-100%);
        transition: .3s;
        border-radius: 2px;
        overflow-y: scroll;
        position: relative;
    }

    .filter_overlay .container_filter .filter_cta {
        margin-top: 77px;
    }

    .filter_overlay .container_filter .filter h5 {
        font-size: 13px;
    }

    .filter_overlay .container_filter .filter {
        margin-bottom: 15px;
    }

    .filter_overlay .container_filter .filter:last-child {
        margin-bottom: 0px;
    }

    .filter_overlay .container_filter .filters {
        padding: 0 17px 0;
    }

    .filter_overlay .container_filter .filter .filter_input {
        gap: 10px;
    }

    .filter_overlay .container_filter .filter .filter_input .input input {
        cursor: pointer;
    }

    .filter_overlay .container_filter .filter .filter_input .input label {
        font-size: 13px;
        cursor: pointer;
    }

    .filter_overlay .container_filter .buttons {
        margin-top: 0;
        position: sticky;
        bottom: 0;
        right: 0;
        background-color: var(--color_tertiary);
        padding: 15px;
    }

    .container_banner_offers {
        height: 300px;
    }

    .container_banner_offers .banner_offers .banner_title h4 {
        font-size: 40px;
    }

    .container_banner_offers .banner_offers .counter .counter-date p {
        font-size: 32px;
    }

    .container_banner_offers .banner_offers .counter .counter-date span {
        font-size: 16px;
        margin-top: -10px;
    }

    .container_banner_offers .banner_offers img {
        width: 200px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 45px;
    }


    footer .form-footer .input-email {
        font-size: 14px;
        padding: 12px 0;
    }

    footer .form-footer .input-email::placeholder {
        font-size: 14px;
        color: #ddd;
    }

    footer .text_newsletter {
        width: 80%;
        margin-left: 0;
        font-size: 14px;
    }
}

.container-card {
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
}

.card-similar-product {
    width: 230px;
    height: 260px;
    background-color: var(--color_tertiary);

}

.card-similar-product img {
    width: 100%;
    height: 200px;

}

.card-similar-product h3 {
    font-size: 24px;
    margin-top: 10px;
}

.card-similar-product p {
    font-size: 16px;
    margin-top: 5px;
}


footer {
    padding: 24px 0;
}

.footer-link {
    color: white;
    list-style: none;
    text-decoration: none;
}

.form-footer {
    width: 60%;
    margin: 5px auto;
}

.form-footer .input-email {
    background-color: transparent;
    border: 0;
    outline: none;
    border-bottom: 2px solid var(--color_primary);
    color: var(--color_tertiary);
    font-size: 10px;
    padding: 10px 0;
    border-radius: 0;
}

.form-footer .input-email::placeholder {
    font-size: 10px;
    color: #ddd;
}

.text_newsletter {
    width: 70%;
    margin: 0 auto;
    font-size: 12px;
}

#h3 {
    text-decoration: none;
}

#h3 {
    color: red;
}

.btnColor{
    
    background-color: #EE332C;
    border-radius: 50%;

  }
  .btnLogin{
    background-color: #EE332C;
    color: white;
    width: 90%;
  }
  .imgRollingC{
    max-width: 200px;
  }
  .colorLabelLogin{
    background-color: rgb(222, 221, 221);
  }
  .modal-backdrop {
    z-index: -1;
  }